.main_visual {
    height: 500px;
    margin-bottom: 20px;
    overflow: hidden;
}

.slider1 {
    background: #fadcdd url(../img/slider01.png) no-repeat 50% bottom;
    padding-top: 50px;
    height: 455px;
    box-sizing: border-box;
    border: none;
}

.slider2 {
    background: #efefef url(../img/slider02.png) no-repeat 50% bottom;
    padding-top: 50px;
    height: 455px;
    box-sizing: border-box;
    border: none;
}

.slider3 {
    background: #ebebeb url(../img/slider03.png) no-repeat 50% bottom;
    padding-top: 50px;
    height: 455px;
    box-sizing: border-box;
    border: none;
}