#meeting_list {
    width: 100%;
    margin: 0 auto;
}

#meeting_list #sub_wrap {
    background: linear-gradient(279deg, rgb(98, 201, 255), rgb(51, 151, 255));
}

#meeting_list #sub_menu {
    width: 1200px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}


#meeting_list #sub_menu ul li {
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    cursor: pointer;
    color: white !important;
}

#meeting_list #sub_menu ul li.onPage {
    border-bottom: 2px solid rgb(255, 255, 255);
    font-weight: 700;
}

#meeting_list .titles {
    width: 1200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}

.loading_view {
    width: 1200px;
    position: relative;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

/*애니메이션*/

.loader {
    position: relative;
    width: 120px;
    height: 200px;
    border-radius: 50%;
    margin: 75px auto;
    display: inline-block;
    vertical-align: middle;
}

/*LOADER-7*/

.loader-7 .line {
    width: 20px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
    background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
    background: -o-linear-gradient(top, #1ee95d, #5714ce);
    background: linear-gradient(to bottom, #1ee95d, #5714ce);
}

.loader-7 .line1 {
    left: 0;
    -webkit-animation: line-grow 0.5s ease alternate infinite;
    animation: line-grow 0.5s ease alternate infinite;
}

.loader-7 .line2 {
    left: 50px;
    -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
    animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.loader-7 .line3 {
    left: 100px;
    -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
    animation: line-grow 0.5s 0.4s ease alternate infinite;
}

.loader-7 .loader_text {
    font-size: 20px;
    font-weight: bold;
}

@-webkit-keyframes line-grow {
    0% {
        height: 0;
    }

    100% {
        height: 75%;
    }
}

@keyframes line-grow {
    0% {
        height: 0;
    }

    100% {
        height: 75%;
    }
}

/**/

.list_view {
    width: 1200px;
    margin: 0 auto;
}


.itemListView {
    display: inline-block;
    width: 200px;
    margin: 20px 20px;
    text-align: left;
}


.itemListView img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.itemListView .subtit {
    font-size: 16px;
    color: gray;
}

.itemListView .tit {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.itemListView a p {
    cursor: pointer;
}

.writeBtn {
    position: relative;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.writeBtn button {
    position: absolute;
    right: 13px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid;
}

#meeting_detail {
    width: 1200px;
    margin: 0 auto 50px;
}

#meeting_detail .titleset {
    margin-top: 50px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: center;
}

#meeting_detail .titleset img {
    width: 400px;
    height: 400px;
    margin-right: 50px;
    display: inline-block;
}

.detail_content p {
    cursor: default;
}

.detail_content p img {
    width: 800px;
}

.titleswrap {
    position: relative;
}

.titleswrap .titles {
    text-align: left;
}

#meeting_detail .titleset .titles {
    display: inline-block;
    padding-top: 0px;
    height: 200px;
    width: 350px;
}

#meeting_detail .titleset .titles .tit {
    font-size: 27px;
}

#meeting_detail .titleset .titles #viewMember {
    display: none;
}

#meeting_detail .titleset .like {
    position: absolute;
    right: 0;
    text-align: center;
    display: inline-block;
    height: 200px;
    width: 100px;
}

#meeting_detail .titleset .like .likebtn {
    background: url(../../../img/nonlike.png);
    background-size: contain;
    width: 50px;
    height: 32.4px;
    border: none;
}

#meeting_detail .titleset .like .ilike {
    background: url(../../../img/like.png);
    background-size: contain;
}

/* #meeting_detail .titleset .like .likecnt {
    display: inline-block;
    font-size: 18px;
} */

.hosthr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 30px;
}

#meeting_detail .titleset .host {
    width: 500px;
    height: 50px;
}

#meeting_detail .titleset .host img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#meeting_detail .titleset .host .hostNickname {
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
}

#meeting_detail .titleset .host {
    width: 500px;
    height: 50px;
    text-align: left;
}

.joinMeeting {
    width: 500px;
    height: 100px;
    line-height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.joinMeeting #joinBtn {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;

    border-radius: 5px;
    background-color: #008be6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.joinMeeting #boardMeeting {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 10px;

    border-radius: 5px;
    background-color: #008be6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    display: none;
}

.joinMeeting #joinOutBtn {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;

    border-radius: 5px;
    background-color: #008be6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: none;
    border: none;
}

.joinMeeting #modifyBtn {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;

    border-radius: 5px;
    background-color: #008be6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: none;
    border: none;
}

.joinMeeting #modifyBtn a,
.joinMeeting #boardMeeting a {
    color: white;
}

.joinMeeting #jointab {
    cursor: default;
}

.detail_hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 950px;
}

.detail_view {
    width: 950px;
    margin: 0 auto;
}

.detail_subtit {
    width: 1000px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detail_content {
    width: 800px;
    margin: 0 auto;
}

.detail_content h1 {
    font-size: 39px;
}

.writeWrap {
    width: 100%;
}

.titleset {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 200px;
    padding-top: 40px;
}

.titleset .mainTit {
    font-size: 40px;
    font-weight: 900;
}

.titleset .subTit {
    font-size: 20px;
}

.writeInput {
    width: 1200px;
    margin: 0 auto;
}

.editor {
    width: 1200px;
    margin: 0 auto;
}

.writeInputWrap {
    width: 1200px;
    margin: 0 auto;
}

/*type01 */
.writeInputWrap table {
    width: 100%;
    border-spacing: 0;
    border-top: 2px solid #2b2b2b;
    table-layout: fixed;
}

.writeInputWrap table tbody th {
    padding: 12px 15px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fafafa;
    font-weight: 200;
    text-align: left;
}

.writeInputWrap table tbody td {
    position: relative;
    padding: 12px 15px;
    border-bottom: 1px solid #d8d8d8;
    font-weight: 200;
}

.writeInputWrap select {
    padding-left: 10px;
    width: 200px;
    height: 40px;
    background: url('../../../img/btn-sel-open01.png') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.writeInputWrap input {
    border: 1px solid;
    width: 200px;
    height: 40px;
    padding-left: 10px;
}


.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filebox.bs3-primary label {
    background: #656d78;
    color: #fff;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    line-height: 25px;
    padding-left: 13px;
}

.writeInputWrap #startdatepick {
    width: 200px;
    height: 40px;

    background: url('../../../img/ico-datepicker01.gif') no-repeat 95% 50%;
}

.writeInputWrap #enddate {
    width: 200px;
    height: 40px;
    background: url('../../../img/ico-datepicker01.gif') no-repeat 95% 50%;
}

.writeInputWrap #enddatepick {
    width: 200px;
    height: 40px;
    display: none;
    background: url('../../../img/ico-datepicker01.gif') no-repeat 95% 50%;
}

.writeInputWrap #oneDay {
    background: #656d78;
    color: #fff;
    width: 70px;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.writeInputWrap #oneWeek,
.writeInputWrap #oneMonth,
.writeInputWrap #Free {
    background: #656d78;
    color: #fff;
    margin-left: 10px;
    width: 70px;
    border: none;
    height: 40px;
    border-radius: 5px;
}


.writeInputWrap .btndiv {
    position: relative;
    width: 100%;
    height: 80px;
}

.writeInputWrap .btndiv #join {
    position: absolute;
    right: 13px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid;
}

.writeInputWrap .btndiv #delete {
    position: absolute;
    right: 123px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid;
}

.writeInputWrap .onModified #enddatepick {
    display: inline-block;
}

.writeInputWrap .onModified .displaynone {
    display: none;
}

#editWrap {
    width: 950px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}

#editorWrap {
    width: 800px;
    margin-right: 20px;
    display: inline-block;

}

#reviewWriteBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 130px;
    display: inline-block;
}

#reviewWriteBtn button {
    width: 130px;
    height: 60px;

    background: #656d78;
    color: #fff;
    border: none;
    border-radius: 5px;

    font-size: 17px;
}

#editorWrap div div .te-toolbar-section {
    display: none;
}

#editorWrap .tui-editor-contents {
    font-size: 16px;
}

#meeting_detail .formcenter {
    width: 950px;
    margin-top: 20px;
}

#meeting_detail .formcenter .forradio {
    width: 50%;
    font-size: 20px;
}

#meeting_detail input[type="radio"]:checked+label {
    color: #555;
    border: none;
}

#meeting_detail #tab1+label {
    border: #ccc 1px solid;
    border-bottom: none;
}

#meeting_detail #tab2+label {
    border: #ccc 1px solid;
    border-left: none;
    border-bottom: none;
}

#viewReviews,
#viewDetails {
    margin-top: 20px;
    display: none;
}

#tab1:checked~#viewDetails,
#tab2:checked~#viewReviews {
    display: block;
}

.te-ww-container>.te-editor {
    overflow: hidden !important;
}

.reviewListView {
    width: 950px;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px #ccc solid;
}

.reviewListView .reviewWriter {
    font-size: 18px;
    color: #008be6;
    font-weight: bold;
}

.reviewListView p {
    cursor: default;
}

.reviewListView .detail_content {
    margin: 0;
}

.reviewWriter,
.reviewDate {
    display: inline-block;
}

.reviewWriter {
    margin-right: 20px;
}